@tailwind base;
@tailwind components;
@tailwind utilities;

.rdp-root {
  --rdp-accent-color: indigo; /* Change the accent color to indigo. */
  --rdp-accent-background-color: black; /* Change the accent background color. */
  /* Add more CSS variables here. */
}

[data-theme="dark"] .rdp-root {
  --rdp-accent-color: yellow; /* Use yellow as the accent color in dark mode. */
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.fade-in-bottom {
  @apply opacity-0 translate-y-4;
  animation: fadeInBottom 0.5s ease-out forwards;
}

@keyframes fadeInBottom {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
